body {
    background-color: antiquewhite;
}
  

/* styling using the class selector */

.services-grid {
    width: 40%;
    height: 30%;
    border: 2px solid whitesmoke;
    border-radius: 8px;
}
/* Styling using id */

#services {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

/* universal selector for rule that will wrap up the entire page */
* {
    margin: 20;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* attribute selector */

a[href] {
    color: blue;
    cursor: pointer;

}
/* Descendant Selector */
div h2 {
    color: blueviolet;
}

section h3 {
    color: green;
}

/* child selector*/
section > h3 {
    font-style: italic;
    color: yellowgreen;
}

    div > h3 {
    font-style: italic;
    color:chocolate     
}